/* Write your CSS here */
.tab-item-container {
  margin: 25px;
}
.tab-btn {
  border: none;
  background-color: transparent;
}
.tab-btn-2 {
  border-bottom: #2563eb;
  border-width: 1px;
  color: #2563eb;
}
